.env
.env.*
*.env

venv/
.venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*


.DS_Store
Thumbs.db

.vscode/
.idea/

.pytest_cache/



.fast_api_learn.py
.playwright.ipynb
.result.md
.sample.py
.summary_agent.ipynb
.deepeval/
data/
